/* sheared style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-primary {
  font-family: "Mulish", sans-serif;
}
.btn-primary {
  width: 125px;
  padding: 20px;
  color: #fff;
  background-color: #ff5400;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
span {
  color: #ff5400;
}

/* header part style */
.header {
  width: 85%;
  margin: 0 auto;
}
.nav {
  width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-name .nav-web-name {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.nav .nav-bar .nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .nav-ul .nav-li {
  list-style: none;
  margin-right: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}
.nav-bar .nav-ul a {
  text-decoration: none;
  color: #424247;
}
.header .header-banner {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group13.png");
    background-position: center;
  width: 100%;
  height: 500px;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.header-banner .header-title {
  width: 590px;
  color: #fff;
  font-size: 60px;
  font-weight: 800;
}
.header-banner .header-dec {
  width: 650px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.header-banner .qucktion-bar{
    background: rgba(255, 255, 255, 0.30);
    padding: 0 20px 20px 5px;
    border-radius: 10px;
}
.header-banner .qucktion-bar input,
select, button {
  margin-left: 20px;
  margin-top: 20px;
  width: 125px;
  padding: 15px;
  color: rgba(19, 19, 24, 0.5);
  border: none;
  border-radius: 7px;
  font-size: 13px;
  font-weight: 400;
}

/* main part style */

/* 1st section part style */
main .section1{
    width: 85%;
    margin: 80px auto;
    display: flex;
    gap: 40px;
}
.section1 .section1-continer{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.section1 .section1-continer .section1-title{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.section1 .section1-continer .section1-dec, .section1-list{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.section1-list{
    margin-left: 30px;
}
.section1 .section1-img{
    width: 100%;
}


/* mobile screen responivle */

@media screen and (max-width:600px) {
    .header{
        width: 90%;
    }
    .nav-name .nav-web-name{
        font-size: 20px;
    }
    .nav .nav-bar .nav-ul{
        display: none;
    }
    .header .header-banner{
        width: 100%;
height: 483px;
    }
    .header-banner .header-title{
width: 240px;
        font-size: 25px;
    }
    .header-banner .header-dec{
        width: 304px;
        font-size: 13px;
    }
    .header-banner .qucktion-bar{
        display: flex;
        flex-direction: column;
        width: 350px;
padding: 15px;
    }
    .header-banner .qucktion-bar input, 
select, .header-btn{
    width: 280px;
}
.section1{
    flex-direction: column;
}
.section1-img img{
    width: 100%;
}

}